[submodule "external/PHP-on-Couch"]
	path = external/PHP-on-Couch
	url = https://github.com/klawd-prime/PHP-on-Couch.git
[submodule "external/lean"]
	path = external/lean
	url = https://github.com/klawd-prime/lean
